body{
	padding-top: 30px;
	min-width: 1240px;
  	font-family: Georgia, serif;
}
.primary_container{
	padding-left: 30px!important;
	width: 1230px;
}
#logo{
	float: left;
	width: 300px;
	height: 70px;
	clear: none;
	margin-left: 30px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}
header{
	padding-left: 0px!important;
	width: 100%;
	height: 90px;
	background-image: url(header-bg.gif);
	background-position: 870px 0px;
	background-repeat: no-repeat;
	text-indent: -10000px;
	margin-bottom: 10px;
}
nav{
	border-bottom: solid 5px #000000;
	height: 25px;
	width: 810px;
	padding-left: 30px;
	margin-bottom: 40px;
}
nav a{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	margin-right: 20px;
	font-family: "Rockwell", Georgia, serif;
}

nav a:hover{
	color: #333333!important;
}
h1{
	font-family: "Rockwell", Georgia, serif;
}
.mar_top_40{
	margin-top: 40px;
}

.social{
	margin-top: 0px;
}
.fb-like{
	float: left;
}
.twitter{
	float: left;
}

footer{
	height: 50px;
	background-color: #000000;
	width: 100%;
	padding: 0;
}
footer .logo{
	background-image: url(be-dangerous-footer.png);
	background-repeat: no-repeat;
	background-position: 50px 10px;
	height: 50px;
	width: 280px;
	text-indent: -10000px;
	margin-bottom: 40px!important;
}
.row{
	width: 1260px;
}
.span21{
	width: 1260px;
}